@import url('./nav.css');
@import url('./searchMenu.css');
@import url('./searchRes.css');
@import url('./form.css');
@import url('./footer.css');
@import url('./error.css');
@import url('./loading.css');

:root {
    --primary--color: #0B0A1B;
    --secondary--color: #ffff;
    --order--color: #E5E5E5;
    --inner--color: #FCFCFC;
    --footer--color: #E5E5E5;
    --input-color: #E9ECF0;
    --errorpage--color: #000000;
    --pills--color:  #000000;
    --loader--color: #E9ECF0;
    --loader-h2-color: #DBE2F4;
    --loader-inner-color: #F6F7FA;
    
    
    
 
}

.darkMode {
    --primary--color: #91A2CB;
    --secondary--color: #0D1726; 
    --loader--color: #0D1726;
    --loader-inner-color: #0D1726;
    --order--color: #91A2CB;
    --inner--color: #32323377;
    --footer--color: #0D1726;
    --input-color: #91A2CB;
    --errorpage--color: #91A2CB;
    --pills--color:  #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    background: var(--secondary--color);
    color: var(--primary--color);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

