@import url('./nav.css');
@import url('./searchMenu.css');
@import url('./footer.css');
@import url('./skeletonLoading.css');

:root {
    --primary--color: #0B0A1B;
    --secondary--color: #ffff;
    --order--color: #E5E5E5;
    --inner--color: #FCFCFC;
    --footer--color: #E5E5E5;
    --h5--color: #8C98AD;
    --input-color: #8C98AD;
    --errorpage--color: #000000;
    --pills--color:  #fff;
 
}

.darkMode {
    --primary--color: #91A2CB;
    --secondary--color: #0D1726; 
    --order--color: #91A2CB;
    --inner--color: #161c24;
    --footer--color: #0D1726;
    --errorpage--color: #91A2CB;
    --pills--color:  #91A2CB;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    font-size: 96px;
    line-height: 116px;
    background: var(--secondary--color);
    color: var(--primary--color);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

