.errorPage {
    margin-left: 170px;
    width: 892px;
    height: 400px;
    margin-top: 11px;
    display: none;
}
.Oops {
    width: 506px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.eroorHeader {
    width: 328px;
    padding-left: 90px;
    margin-top: -20px;
    height: 198px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 164px;
    line-height: 198px;
    color: #000000;

}

.errorPage h5 {
    width: 307px;
    position: relative;
    left: 90px;
    margin-top: -40px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.errorPage button {
   position: relative;
   top: 20px;
   left: 130px;
    width: 205px;
    height: 54px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

/* errorLabel */
.errorLabel {
    color: #c70909;
    font-family: 'Inter';
    font-style: normal;
    position: relative;
    top: -46px;
    left: 4px;
    font-size: 15px;
    display: none;
}


@media screen and (max-width: 768px) {
    .errorPage {
       position: absolute;
       /* right: 70px; */
       left: 70px;
    }
    
    .eroorHeader {
        margin-top: -40px;
    }
    .errorPage h5  {
        padding-top: 30px;
    }
    .errorPage button {
        margin-top: 98px;
    }
    .errorLabel {
        position: relative;
        top: -44px;
    }

    @media screen and (max-width: 500px) {
        .errorPage {
            position: absolute;
            left: -20px;
        }
       
        .Oops {
            /* font-size: 15px; */
            width: 310px;
            padding-left: 30px;
        }
       
        .eroorHeader {
            margin-left: -10px;
            font-size: 90px;
        } 

        .errorPage h5  {
            position: relative;
            top: -38px;
            left: 30px;
        }

        .errorPage button {
            margin-top: 58px;
            position: relative;
            left: 50px;
        }

        .errorLabel {
            position: relative;
            top: -80px;
        }
    
    }

}