.errorPage {
    margin-left: 170px;
    width: 892px;
    height: 400px;
    margin-top: 71px;
    display: none;
}
.Oops {
    width: 506px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--errorpage-dark-color);
}

.eroorHeader {
    width: 328px;
    padding-left: 90px;
    margin-top: -10px;
    height: 198px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 164px;
    line-height: 198px;
    color: var(--errorpage-dark-color);
}

.errorPage h5 {
    width: 307px;
    position: relative;
    left: 90px;
    margin-top: -30px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: var(--errorpage-dark-color);
}

.errorPage button {
    padding: 15px 57px;
    margin-left: 120px;
    margin-top: 20px;
    background: var(--secondary--color);
    border: 2px solid var(--errorpage-dark-color);
    box-sizing: border-box; 
    cursor: pointer;
    display: inline-block;
}

a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--errorpage-dark-color);

}

/* errorLabel */
.errorLabel {
    color: #c70909;
    font-family: 'Inter';
    font-style: normal;
    position: relative;
    top: 3px;
    left: 4px;
    font-size: 15px;
    display: none;
}


@media screen and (max-width: 768px) {
    .errorPage {
        margin-left: 33px;
        margin-top: -50px;
    }
    
    .eroorHeader {
        margin-top: -20px;
    }
    .errorPage h5  {
        padding-top: 10px;
    }
    .errorPage button {
        margin-top: 18px;
    }
    .errorLabel {
        position: relative;
        top: 20px;
    }

    @media screen and (max-width: 500px) {
        .errorPage {
            /* margin-left: -20px; */
            /* background: red; */
            position: relative;
            top: -80px;
            margin: 40px 0;
          
        }
       
        .Oops {
            width: 310px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            padding-left: 30px;
        }
       
        .eroorHeader {
            margin-left: -10px;
            font-size: 80px;
        } 

        .errorPage h5  {
            position: relative;
            top: -38px;
            left: 70px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
        }

        .errorPage button {
           margin-left: 40px;
           margin-top: -30px;
        }

        .errorLabel {
            position: relative;
            top: 128px;
        }
    
    }

}