#footer {
    width: 100%;
    height: 500px;
    border-top: 1px solid var(--order--color);
    background: var(--footer--color);
}

.footer-primary {
    display: flex;
    justify-content: space-between;
}

.footer-top-right {
   margin-left: -20px;
}
.footer-top-left {
    position: relative;
    top: 170px;
    margin-left: -40px;
}

.footer-bottom-left {
    position: absolute;
}
.footer-bottom-right {
    position: relative;
    right: 40px;
    top: 170px;
}

/* footer-center */
.footer-center {
    position: sticky;
    margin-left: 390px;
    margin-top: -97px; 
}


.footer-center h2 {
    width: 431px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 116px;
    color: var(--primary--color);
}

.footer-center p {
    width: 419px;
    height: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--primary--color);
    padding-left: 20px;
}

.footer-center button {
    width: 220px;
    height: 48px;
    margin-top: 9px;
    margin-left: 20px;
    border: 2px solid var(--primary--color);
    box-sizing: border-box;
    background: var(--secondary--color);
    color: var(--primary--color);
    cursor: pointer;
    border-radius: 30px;
    outline: none;
    transition: all 0.5s ease-in;
    transition-property: background;
}

.footer-center button:hover {
    box-shadow: 0 0 5px inset;
} 

/* footer-down */
.footer-down {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    flex: 1;
}
.footer-logo {
    width: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary--color);
    border-top: 5px solid var(--primary--color);
}
.footer-links img {
    cursor: pointer;
    /* margin: 0 7px; */
}
.footer-privacy {
    /* width: 228px;
    height: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115.6%; */
    
}
.term {
    position: relative;
    right: 30px;
}

.footer-privacy a {
    color: var(--primary--color);
    text-decoration: none;
}
/* footer copy */
.footer-copy {
    /* width: 338px; */
    height: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115.6%;
    color: var(--primary--color);
    text-align: center;
    margin-left: -80px;
    margin-top: 26px;
}



@media screen and (max-width: 994px) {
    #footer {
        height: 450px;
        width: 100%;
    }
    .footer-content {
        margin: 0 30px;
    }

    .footer-top-right,
    .footer-top-left,
    .footer-bottom-left,
    .footer-bottom-right,
    .footer-menu h2{
        display: none;
    }
    .footer-logo {
        margin-top: 80px;
    }
    .footer-center {
        position: sticky;
        margin-left: 150px;
        margin-top: 67px; 
    }

    .footer-down {
        margin: 0 30px;
    }

    .footer-menu h2 {
        position: absolute;
        margin-top: 180px;
    }

    .footer-links {
       position: absolute;
       left: 270px;
       margin-top: 80px;
    }

    .footer-privacy {
        margin-top: 90px;
    }


    /* .footer-logo {

    } */

    /* .footer-menu p  {
        position: relative;
       top: -90px;
        right: 130px;
    } */

    /* .footer-menu button  {
        position: relative;
        left: -100px;
        top: -70px;
        
    } */

    /* .footer-logo {
        position: relative;
        bottom: 300px;
        left: 280px;
        width: 120px;
        
    } */

    /* .footer-down {
        position: relative;
        top: 170px;
    } */

    /* .footer-links {
        position: relative;
        top: -99px; 
        right: 160px;
    } */

    /* .footer-copy {
        position: relative;
        top: 140px;
        left: -90px;
    } */

    @media screen and (max-width: 500px) {
        /* #footer {
            height: 330px;
            margin-top: 23px;
        }
        .footer-content {
            position: relative;
            right: 160px;
        }
        
        .footer-logo {
            position: relative;
            left: 90px;
            font-size: 30px;
            width: 147px;
            
        }

        .footer-menu p  {
           width: 303px;
           height: 48px;
        }

        .footer-menu button  {
            position: relative;
            bottom: 110px;
        }

        .footer-links {
            display: flex;
            position: relative;
            right: 32px;
            bottom: 140px;
            height: 20px;
        }

        .footer-copy {
            position: relative;
            top: 150px;
            left: -298px;
            width: 400px;
        } */
    }
} 