#footer {
    width: 100%;
    height: 550px;
    border-top: 1px solid var(--order--color);
    background: var(--footer--color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-top-right {
    position: relative;
    right: 100px;
}
.footer-top-left {
    position: relative;
    right: 180px;
    top: 230px;
}

.footer-bottom-left {
    position: relative;
    bottom: 90px;
    left: 60px;
}
.footer-bottom-right {
    position: relative;
    top: 200px;
    right: 200px;
}

/* footer menu */
.footer-menu {
    position: relative;
    bottom: 100px;
    left: 310px;
}
.footer-menu h2 {
    width: 431px;
    height: 116px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 116px;
    color: var(--primary--color);
}

.footer-menu p {
    width: 419px;
    height: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--primary--color);
    padding-left: 20px;
}

.footer-menu button {
    position: relative;
    bottom: 40px;
    left: 20px;
    width: 220px;
    height: 48px;
    border: 2px solid var(--primary--color);
    box-sizing: border-box;
    background: var(--secondary--color);
    color: var(--primary--color);
    cursor: pointer;
    border-radius: 30px;
    outline: none;
    transition: all 0.5s ease-in;
    transition-property: background;
}

.footer-menu button:hover {
    box-shadow: 0 0 5px inset;
}

/* footer-down */
.footer-down {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 70px;
    height: 20px;
}
.footer-logo {
    width: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary--color);
    margin-top: 20px;
    border-top: 5px solid var(--primary--color);
}

.footer-links {
    position: relative;
    bottom: 53px;
    right: 100px;
}

.footer-links img {
    cursor: pointer;
}
.footer-privacy {
    width: 228px;
    height: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115.6%;
    position: relative;
    right: 190px;
    top: 15px;
}

.footer-privacy a {
    color: var(--primary--color);
    text-decoration: none;
}

.term {
    position: relative;
    right: 30px;
}


/* footer copy */
.footer-copy {
    width: 338px;
    height: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115.6%;
    color: var(--primary--color);
    text-align: center;
    margin-left: 280px;
    margin-top: -30px;
}

@media screen and (max-width: 768px) {
    #footer {
        height: 350px;
    }
    .footer-top-right,
    .footer-top-left,
    .footer-bottom-left,
    .footer-bottom-right,
    .footer-menu h2,
    .footer-privacy {
        display: none;
    }
    .footer-menu{
        position: relative;
        top: 180px;
    }

    .footer-menu p  {
        position: relative;
        bottom: 60px;
        right: 130px;
    }

    .footer-menu button  {
        position: relative;
        bottom: 90px;
        left: -100px;
    }

    .footer-logo {
        position: relative;
        bottom: 300px;
        left: 280px;
        width: 120px;
        
    }

    .footer-down {
        position: relative;
        top: 170px;
    }
    .footer-links {
        position: relative;
        bottom: 123px;
        right: 344px;
    }
    .footer-copy {
        position: relative;
        top: 160px;
        left: -90px;
    }

    @media screen and (max-width: 500px) {
        #footer {
            height: 360px;
        }
        .footer-content {
            position: relative;
            right: 160px;
        }
        
        .footer-logo {
            position: relative;
            left: 90px;
            font-size: 30px;
            width: 147px;
            
        }

        .footer-menu p  {
           width: 303px;
           height: 48px;
        }

        .footer-menu button  {
            position: relative;
            bottom: 110px;
        }

        .footer-links {
            position: relative;
            right: 132px;
            bottom: 140px;
            height: 20px;
        }

        .footer-copy {
            position: relative;
            top: 150px;
            left: -298px;
            width: 400px;
        }
    }
}