#formSend {
    position: relative;
}

.search {
    width: 100%;
    height: 65px;
    margin-top: 40px;
    border: 1px solid var(--input-color);
    box-sizing: border-box;
    padding-right: 140px;
    border-radius: 5px;
    padding-left: 90px;
    outline: none;
    background: var(--secondary--color);
    color: var(--primary--color);
}



.search::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8C98AD;
}

.searchIcon {
   position: relative;
   z-index: 2;
   top: 90px;
   margin-left: 30px;
}


.myButton {
    position: absolute;
    top:  80px;
    margin-left: -130px;
    color: #fff;
    width: 124px;
    height: 53px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 5px; 
}


@media screen and (max-width: 500px) {
    #formSend {
        position: relative;
        top: -200px;
    }
    
    .search {
        width: 330px;
        padding-right: 0px;
        padding-left: 69px;
    }

    .search::placeholder {
        font-size: 15px;
    }

    .myButton {
        position: absolute;
        top: 150px;
        margin-left: 0px;
        width: 330px;
    }
}