#formSend {
    position: relative;
    /* margin-top: 412px; */
}

.search {
    width: 100%;
    height: 65px;
    margin-top: 40px;
    border: 1px solid var(--input-color);
    box-sizing: border-box;
    padding-right: 140px;
    border-radius: 5px;
    padding-left: 90px;
    outline: none;
    background: var(--secondary--color);
    color: var(--primary--color);
}



.search::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--placeholder-color);
}

.searchIcon {
   position: relative;
   z-index: 2;
   top: 90px;
   margin-left: 30px;
}


.myButton {
    position: absolute;
    top:  80px;
    margin-left: -130px;
    color: #fff;
    width: 124px;
    height: 53px;
    background: #000000;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    border-radius: 5px; 
}

@media screen and (max-width: 768px) {
    .myButton  {
        position: relative;
        width: 100%;
        left: 130px;
       top: 20px;
    }
}


@media screen and (max-width: 500px) {
    #formSend {
        position: relative;
        top: -170px;
    }

    .search {
        position: absolute;
        left: 0;
        width: 300px;
        padding-right: 0px;
        padding-left: 69px;
        height: 50px;
    }

    .searchIcon {
        position: relative;
        top: 56px;
        width: 23px;
    }

    .search::placeholder {
        font-size: 13px;
    }

    .myButton {
        position: absolute;
        top: 100px;
        width:300px;
    }
}


@media screen and (max-width: 183px) {
    .searchIcon {
        position: relative;
        top: 80px;
    }

    .myButton {
        position: absolute;
        top: 129px;
    }
}