#skeleton {
    /* position: absolute; */
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    z-index: 1;
    /* display: none; */
    
}

#skeleton .content {
    height: 70px;
}

#skeleton #loader {
    background: var(--loader--color);
    margin-left: -36px;
    width: 892px;
    height: 561px;
    margin-top: 11px;
    
}

#skeleton h2 {
    width: 192px;
    height: 33px;
    z-index: 66;
    margin-top: -27px;
    background: var(--loader-h2-color);
    position: relative;
    top: -510px;
    left: -45px;
}

#skeleton .cover {
    width: 123px;
    height: 18px;
    z-index: 66;
    margin-top: 40px;
    background: var(--loader-h2-color);
    position: relative;
    top: -530px;
    left: -45px;
}

#skeleton h4 {
    width: 510px;
    height: 10px;
    z-index: 66;
    background: var(--loader-h2-color);
    position: relative;
    top: -490px;
    left: -45px;
}



#skeleton .innerCenter{
    width: 726px;
    height: 259px;
    background: var(--loader-inner-color);
    position: relative;
    top: -450px;
    left: -45px;
}

#skeleton .m1 {
    width: 538px;
    height: 8px;
    z-index: 66;
    background: var(--loader-h2-color);
    position: relative;
    top: 30px;
    left: 35px;
}

#skeleton .se {
    width: 231px;
    height: 6px;
    z-index: 66;
    background: var(--loader-h2-color);
    position: relative;
    top: 60px;
    left: 50px;
}


#skeleton .Syno {
    width: 99px;
    height: 10px;
    z-index: 66;
    background: var(--loader-h2-color);
    position: relative;
    top: 80px;
    left: 50px;
}

#skeleton .sy2 {
    width: 328px;
    z-index: 66;
    background: var(--loader-h2-color);
    height: 8px;
    position: relative;
    top: 150px;
    left: 32px;
}


#skeleton .me2 {
    width: 467px;
    height: 6px;
    z-index: 66;
    background: var(--loader-h2-color);
    position: relative;
    top: 160px;
    left: 47px;
}

#skeleton .se2 {
    width: 99px;
    height: 19px;
    z-index: 66;
    background: var(--loader-h2-color);
    position: relative;
    top: 170px;
    left: 47px;
}


#skeleton h2,
#skeleton .cover,
#skeleton h4, 
#skeleton .m1, 
#skeleton .se, 
#skeleton .Syno, 
#skeleton .sy2,
#skeleton .me2, 
#skeleton .se2 {
    /* opacity: 13; */
    animation:  heading  1s infinite linear;

}



@keyframes heading {
    0% {
        background-color: hsl(200, 20%, 75%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}



@media screen and (max-width: 768px) {
    #skeleton {
        /* position: absolute; */
        margin-left: 33px;
        /* display: none; */
        
    }

    #skeleton #loader {
        width: 651px;
        
    }

    #skeleton h2,
    #skeleton h4,
    #skeleton .cover {
        position: relative;
    }

    #skeleton .innerCenter{
        width: 570px;
        position: relative;
        top: -420px;
    }

    #skeleton .m1 {
        width: 460px;
    }


    @media screen and (max-width: 500px) {
        #skeleton {
            /* position: absolute; */
            margin-left: 60px;
            /* display: none; */
        }

        #skeleton #loader {
           width: 310px;
           height: 580px;
           position: relative;
           top: -60px;
           left: -24px;
        }

        #skeleton h2,
        #skeleton h4,
        #skeleton .cover {
            width: 180px;
            position: relative;
            top: -540px;
        }

        #skeleton .innerCenter{
            width: 260px;
            position: relative;
            top: -490px;
            /* background: none; */
        }

        #skeleton .m1,
        #skeleton .se {
            width: 190px;
            position: relative;
            left: 10px;
        }

        #skeleton .sy2 {
            width: 190px;
            position: relative;
            left: 10px;
        }
        #skeleton .me2 {
            width: 190px;
            position: relative;
            left: 43px;
        }
    }

   
}























