#searchMenu {
    height: 560px;
    width: 100%;
    background: var(--secondary--color);
}


.search-content {
    margin: 0  110px;
}

.search-content .searchWord {
    padding-top: 127px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: var(--primary--color);
    width: 100%;
}


@media screen and (max-width: 830px) {
    .search-content {
        margin: 0  70px;
    }
    .search-content .searchWord {
        width: 680px;
        font-weight: 500;
        font-size: 70px;
        line-height: 100px;
    }
}


@media screen and (max-width: 500px) {
    #searchMenu {
        height: 380px;
    }
    .search-content {
        margin: 0  15px;
    }

    .search-content .searchWord {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
    }
}
