#searchMenu {
    height: 560px;
    width: 100%;
    background: var(--secondary--color);
}


.search-content {
    margin: 0  110px;
}

.search-content .searchWord {
    padding-top: 127px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: var(--primary--color);
}


@media screen and (max-width: 774px) {
    .search-content .searchWord {
        font-size: 60px;
        width: 400px;
    }  

    .search-content .searchWord > span {
       position: relative;
       top: -40px;
    }
}


@media screen and (max-width: 500px) {
    #searchMenu {
        height: 430px;
    }
    .search-content .searchWord {
        font-size: 48px;
        width: 500px;
        margin-left: -90px;
        margin-top: -40px;
    }  

    .search-content .searchWord > span {
        position: relative;
        top: -68px;
    }
}
