#result {
    width: 100%;
    height: 100%;
    border: 1px solid var(--input-color);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 176px;
    margin-left: 0;
}

.content {
    margin: 0 60px;
}

.transform-text {
    text-transform: capitalize;
}

.content h2 {
    text-transform: capitalize;
    width: 158px;
    height: 77px;
    padding-top: 15px;
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: var(--primary--color);
}

.content span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #8C98AD;
    position: relative;
    top: 8px;
}


.content button {
    border: none;
    outline: none;
    background: none;
}

.content  img {
   position: relative;
   top: 10px;
   display: flex;
}

.content h4 {
    width: 70%;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary--color)
}

/* headerMeaning */
.headerMeaning {
    width: 90%;
    height: 100%;
    margin: 55px 0;
    padding: 34px 38px;
    background:  var(--inner--color);
}



.meangingList {
    margin: 30px 0;
}

.meaning {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary--color);
    padding: 10px 5px;
    list-style: none;
}

.sentence {
    width: 80%;
    padding-left: 20px;
    padding-top: 6px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8C98AD;
    list-style: none;
}


.Synonyms {
    width: 201px;
    padding-left: 20px;
    padding-top: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary--color);
}


 
@media screen and (max-width: 823px) {
    .headerMeaning {
        width: 100%;
    } 

    @media screen and (max-width: 500px) {
        #result {
           border: none;
           position: relative;
           top: -170px;
           width: 330px;
        } 

        .content {
            position: relative;
            left: -55px;
        }

        .content h2 {
            width: 89px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
        }

        .audoiHeader {
            margin-top: 6px;
        }

        .headerMeaning {
            width: 300px;
            height: 20%;
            background: none;
        }

        .meanings {
            margin-left: -30px;
            margin-top: -80px;
        }

        .meaning {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            width: 300px;
        }

        .sentence {
            width: 100%;
            font-family: 'Inter';
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    } 
}   