#SearchWords  {
    height: 1400px;
    width: 100%;
    
}


/* search content */
.search_content {
    margin: 0 75px;
}

/* search header */
.search_header {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: var(--primary--color);
    padding-top: 50px;
}

/* form input */
form img {
    position: relative;
    left: 48px;
    top: 12px;
    z-index: 22;
    cursor: pointer;
}

.search {
    width: 892px;
    height: 65px;
    padding-left: 87px;
    border: 1px solid var(--order--color);
    box-sizing: border-box;
    border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--secondary--color);
    margin-left: -50px;
    border-radius: 5px;
}

.search:focus {
    outline-color: #25c6ee;
}

.search:hover {
    background-color: #fff;
}
.search::placeholder{
    width: 296px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--input--color);
}





/* btn */
.myButton {
    position: relative;
    top: -117px;
    left: 765px;

    z-index: 22;
    width: 124px;
    height: 53px;
    background: #000000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* display: none; */
}



/* Hello Result */
.hello_result {
    width: 892px;
    height: 740px;
    position: relative;
    top: -60px;
    border: 1px solid var(--order--color);
    box-sizing: border-box;
    border-radius: 5px;
}



.hello_content {
    margin: 40px 70px;

}



.hello_content h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    width: 500px;
    color: var(--primary--color);
    /* padding-top: 40px; */
}

/* hello searched */
.hello_Searched  .details span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    top: -68px;
    left: 70px;
    color: var(--order--color);
}

.hello_Searched  .details p {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--order--color);
    position: relative;
    left: -1px;
    top: 30px;
    
}

.hello_Searched img {
    position: absolute;
   top: 152px; 
   left: 280px;
   cursor: pointer;
}

.hello_Searched h4 {
    width: 512px;
    height: 19px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary--color);
   position: relative;
   top: -170px;
}

/* hello_searched_answer */
.hello_searched_answer {
    width: 726px;
    background: var(--inner--color);
    height: 400px;
    position: relative;
    top: -170px;
}



.searched-definition1,
.searched-definition2,
.searched-definition3 {
    margin: 30px 0px 0px 40px;
    /* border: 2px solid #25c6ee; */
    padding-top: 10px; 
}

.searched-definition2 {
    position: relative;
    top: -70px;
}

.searched-definition3 {
    position: relative;
    top: -75px;
}



/* synomyoms */
.synomyms {
    position: relative;
    top: -40px;
    /* display: flex; */
    flex-wrap: wrap;

}
.pills {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 5px 12px;
    color: var(--pills--color);
    background: coral;
}



.searched-definition1 p,
.searched-definition2 p,
.searched-definition3 p{
    /* width: 572px; */
    height: 19px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary--color);
}

.searched-definition1 h5,
.searched-definition2 h5,
.searched-definition3 h5 {
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-top: 20px;
    padding-left: 15px;
    color: var(--h5--color);
}
.searched-definition1 h6 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary--color);
    padding-left: 18px;
    position: relative;
    top: 17px;
}


/* error page */
.errorPage {
    position: absolute;
    top: 60px;
    left: 70px;
    z-index: 22;
    width: 700px;
    /* display: none; */
}
.Oops {
    width: 506px;
    height: 58px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--errorpage--color);
    position: relative;
    left: 70px;
}

.eroorHeader {
    width: 328px;
    height: 198px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 164px;
    line-height: 198px;
    color: var(--errorpage--color);
    margin-left: 160px;
}

.eroorHeader span {
    width: 307px;
    height: 44px;
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: var(--errorpage--color);
   position: relative;
   top: -160px;
}

.errorBtn {
    width: 205px;
    height: 54px;
    background: #FFFFFF;
    border: 2px solid var(--errorpage--color);
    box-sizing: border-box;
    position: relative;
    left: 200px;
    top: -30px;
}

.errorPage a {
    text-decoration: none;
    color: var(--errorpage--color);
}

.errorBtn:hover {
    box-shadow: 0px 0px 5px inset;
}




@media screen and (max-width: 768px) {
    #SearchWords  {
        height: 1300px;
        
    }
    /* form input */
    .search{
        width: 650px;
        margin-left: 10px;
        margin-top: -50px;
    }

    form img {
        position: relative;
        top: 128px;
    }

    /* btn */
    .myButton {
        position: relative;
        left: 530px;
    }

    .hello_result {
        position: relative;
        left: -70px;
        top: -90px;
        border: none;
    }
    .hello_Searched img {
        position: absolute;
        top: 110px;
    }

    .hello_Searched h4 {
        margin-top: -10px;
    }

    /* hello_searched_answer */
    .hello_searched_answer {
        width: 600px;
        margin-top: -40px;
        background: none;
    }
    /* last-pills */
    .last-pills {
        position: relative;
        top: -117px;
        left: 559px;
    }

    .synomyms {
        overflow-x: scroll;
        width: 390px;
        white-space: nowrap;
        margin-left: 20px;
    }

    @media screen and (max-width: 500px) {
        .search_header {
            width: 304px;
            margin-left: -47px;
            font-size: 45px;
        }

        .search {
            width: 298px;
            height: 50px;
            margin-left: -50px;
            padding-left: 69px;
        }
        form img {
            position: relative;
            left: -20px;
        }

        /* btn */
        form {
            position: relative;
            top: -220px;
        }
        .myButton {
            width: 298px;
            height: 50px;
            position: relative;
            top: -40px;
            left: -48px;
        }

        .hello_result {
            position: relative;
            left: -120px;
            top: -240px;
            border: none;
        }

        .hello_Searched img {
           position: absolute;
           top: 112px;
        }
        .hello_searched_answer {
            margin-top: 10px;
        }

        .searched-definition1,
        .searched-definition2,
        .searched-definition3,
        .searched-definition4,
        .searched-definition5 {
            margin: 17px 0px;
        }
        .hello_Searched h4,
        .searched-definition1 p,
        .searched-definition2 p,
        .searched-definition3 p,
        .searched-definition4 p,
        .searched-definition5 p {
            width: 298px;
        }
        .searched-definition1 h5,
        .searched-definition2 h5,
        .searched-definition3 h5,
        .searched-definition4 h5,
        .searched-definition5 h5 {
            padding-top: 25px;
            width: 196px;
        }

        .searched-definition:hover {
            border: none;
        }

        .errorPage {
            position: relative;
            left: -78px;
        }
        
        .Oops {
            width: 303px;
            height: 48px;
            position: relative;
            left: 170px;
        }

        .eroorHeader {
            margin-top: 40px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 164px;
            line-height: 198px;
            color: #000000;
        }
        .synomyms {
            overflow-x: scroll;
            width: 290px;
            white-space: nowrap;
        }
    }
}