.load {
    position: absolute;
    z-index: 44;
    top: 6.5em;
    left: 380px;
    transition: 0.3s all ease;
    /* display: none; */
}



.load h2{ 
    height: 44px;
   width: 156px;
   margin-top: -41px;

}

.load .details  {
    height: 27px;
    width: 300px;
    margin-top: 18px;
}

.load h4{
    height: 30px;
    width: 510px;
    margin-top: 20px;
 
}

.load .hello_searched-answer p {
    height: 20px;
    margin-top: 39px;
    width: 600px;
    margin-left: 40px;
}

.load .hello_searched-answer h5 {
    height: 20px;
    margin-top: 25px;
    width: 277px;
    margin-left: 40px;
}

.load .hello_searched-answer .synonym {
    height: 22px;
    margin-top: 19px;
    width: 140px;
    margin-left: 42px;
}

.load .hello_searched-answer .synonyms .lines {
    height: 31px;
    margin-top: 13px;
    width: 673px;
    margin-left: 39px;
}

.load .hello_searched-answer .definition1 {
    height: 30px;
    margin-top: 13px;
    width: 365px;
    margin-left: 40px;
}
.load .hello_searched-answer .definition2 {
    height: 31px;
    margin-top: 19px;
    margin-left: 40px;
    width: 531px;
}

.load .hello_searched-answer .definition3 .verb {
    height: 31px;
    margin-top: 24px;
    width: 251px;
    margin-left: 40px;
}

.load .hello_searched-answer .sentence {
    height: 31px;
    margin-top: 18px;
    width: 444px;
    margin-left: 40px;
}

.load h2,
.load .details ,
.load h4,
.load .hello_searched-answer p,
.load .hello_searched-answer h5 ,
.load .hello_searched-answer .synonym,
.load .hello_searched-answer .synonyms .lines,
.load .hello_searched-answer .definition1,
.load .hello_searched-answer .definition2,
.load .hello_searched-answer .definition3 .verb,
.load .hello_searched-answer .sentence {
    background-color: #DBE2F4;
    background: linear-gradient(
    90deg,
    #f4f4f4, 
    rgba(229, 229, 229, 11) 90px,
    #f4f4f4 150px
    );
    background-size: 600px;
    animation:  loading 1s infinite linear;
}


.load.hide {
    opacity: 0;
    pointer-events: none;
}
.result.show {
    opacity: 1;
    pointer-events: all;
}


@keyframes loading { 
    0% {
        background-position: -100px;
    }

    100% {
        background-position: 300px;
    }
}


/* @keyframes loading {
    0% {
        background-color: hsl(200, 20%, 75%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
} */


@media screen and (max-width: 768px) {
    .load {
        position: absolute;
        left: 70px;
    }
    .load h2 {
        position: relative;
        top: 87px;
        width: 161px;
    }
    .load .details  {
        position: relative;
        top: 90px;
    }
    .load h4 {
        position: relative;
        top: 80px;
    }
    .load .hello_searched-answer p {
        position: relative;
        top: 40px;
    }
    .load .hello_searched-answer h5 {
        position: relative;
        top: 44px;
    }
    .load .hello_searched-answer .synonym {
        position: relative;
        top: 39px;
    }
    .load .hello_searched-answer .synonyms .lines {
        position: relative;
        top: 33px;
        height: 34px;
        width: 640px;
    }
    .load .hello_searched-answer .definition1 {
        position: relative;
        top: 44px;
    }
    .load .hello_searched-answer .definition2 {
        position: relative;
        top: 44px;
    }
    .load .hello_searched-answer .definition3 .verb {
       position: relative;
       top: 40px;
    }

    .load .hello_searched-answer .sentence {
       position: relative;
       top: 40px;
    }

    @media screen and (max-width: 500px) {
        .load {
            position: absolute;
            left: 70px;
        }
        .load h2 {
            position: relative;
            top: -99px;
            left: -43px;
            width: 161px;
            height: 45px;
        }
        .load .details  {
            position: relative;
            top: -99px;
            left: -48px;
        }
        .load h4 {
            position: relative;
            top: -94px;
            left: -50px;
            width: 298px;
            height: 34px;
        }
        .load .hello_searched-answer p {
            position: relative;
            top: -120px;
            left: -90px;
            height: 35px;
            width: 299px;
        }
        .load .hello_searched-answer h5 {
            position: relative;
            top: -131px;
            left: -70px;
            height: 32px;
        }
        .load .hello_searched-answer .synonym {
            position: relative;
            top: -128px;
            left: -69px;
        }
        .load .hello_searched-answer .synonyms .lines {
            position: relative;
            top: -132px;
            left: -70px;
            /* height: 34px; */
            width: 297px;
        }
        .load .hello_searched-answer .definition1 {
            position: relative;
            top: -131px;
            left: -85px;
            width: 298px;
        }
        .load .hello_searched-answer .definition2 {
            position: relative;
            top: -132px;
            left: -77px;
            height: 52px;
            width: 298px;
        }
        .load .hello_searched-answer .definition3 .verb {
            position: relative;
            top: -129px;
            left: -86px;
        }
        .load .hello_searched-answer .sentence {
            position: relative;
            top: -130px;
            left: -80px;
            height: 35px;
            width: 298px;
        }
    }
    
}